*{
  margin:10px;
  padding:0px;
  background-color:white;
  color:black;
  

}
.nav{
  float:right;
  
}

.nav1{
  float: right;
}
.nav2{
  float: right;
}
.nav3{
  float: right;
}